{% load static %}
<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>Karadeniz Teknik Üniversitesi - Müdek Bilgi/İşlem Sistemi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mudek.css' %}">

    </head>
<body class="transition">
<div class="header">
  <h1>Karadeniz Teknik Üniversitesi</h1>
  {% if user.is_superuser %}
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <button class="tablinks button button1" onclick="window.location.href='{% url 'mudek:fakulteler' user.id %}'">Fakülteler</button>
            <button class="tablinks button button1" onclick="window.location.href='{% url 'mudek:bolumler' user.id %}'">Bölümler</button>
            <button class="tablinks button button1" onclick="window.location.href='{% url 'mudek:akademisyenler' user.id %}'">Akademisyenler</button>
            <button class="tablinks button button1" onclick="openitem(event, 'Dersler')">Dersler</button>
            <button class="tablinks button button1" onclick="window.location.href='{% url 'mudek:ogrenciler' user.id %}'">Ogrenciler</button>
            <button class="tablinks button button1" onclick="openitem(event, 'Sinavlar')">Sınavlar</button>
            <button class="tablinks button button1" onclick="openitem(event, 'Sorular')">Sorular</button>
            <button class="tablinks button button1" onclick="openitem(event, 'Notlar')">Notlar</button>
            <button class="tablinks button button1" onclick="openitem(event, 'Sonuclar')">Sonuclar</button>
            <button class="tablinks button button1" onclick="openitem(event, 'Ogrprgcikti')">Öğrenci Program Çıktıları</button>
          </div>
          <div id="main2">  
            <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Yönetim</span>
          </div>

    {% endif %}
</div>
<div class="navbar">
  <a href="{% url 'mudek:anasayfa' %}"><i class="fa fa-caret-down">Anasayfa</i></a>
  <div class="dropdown">
  	<button class="dropbtn">
  		<i class="fa fa-caret-down">Program Çıktıları</i>
  	</button>
    <div class="dropdown-content">
    	{% for i in fakulteler %}
    	<a href="{% url 'mudek:ciktilar' i.id %}">{{i.fakulte_adi}}</a>
    	{% endfor %}
    </div>
  </div>
  
  {% if user.is_authenticated %}
    <a style="float: right;" href="{% url 'mudek:cikis' %}"><i class="fa fa-caret-down">Çıkış</i></a>
    
  {% endif %}
  {% if not user.is_superuser and user.is_authenticated %}
    {% for i in akademisyenler %}
      {% if i.aka_bilgi == user.get_full_name %}
      <a style="float: right;" href="{% url 'mudek:dersler' i.bolum.id i.id %}"><i class="fa fa-caret-down">{{ user.get_full_name }}</i></a>
        <a style="float: right;" href="{% url 'mudek:dersler' i.bolum.id i.id %}"><i class="fa fa-caret-down">Dersler</i></a>
      {% endif %}
    {% endfor %}
  {% elif user.is_superuser and user.is_authenticated %}
    <a style="float: right;" href="{% url 'mudek:anasayfa' %}"><i class="fa fa-caret-down">{{ user.get_full_name }}</i></a>
  {% endif %}


  {% if not user.is_authenticated %}
  	<button class="loginbuttons" onclick="document.getElementById('id01').style.display='block'"><i class="fa fa-caret-down">Giriş</i></button>
  			<div id="id01" class="modal">
  
				  <form class="modal-content animate" method="POST">
            {% csrf_token %}
				    <div style="clear: both;" class="container">
				      	<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
				      <label for="id_kullanici_adi"><b>Kullanıcı Adı</b></label>

				      <input id="id_kullanici_adi" type="text" name="kullanici_adi" required>

				      <label for="id_sifre"><b>Şifre</b></label>
				      <input id="id_sifre" type="password" name="sifre" required>
				        
				      <button style="float: left;" class="cancelbtn" type="submit">Giriş</button>
				    	<button style="float: right" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
				    	<div style="clear: both;"></div>
				    </div>
				  </form>
			</div>

  {% endif %}
  
</div>

	{% block content %}


	{% endblock %}


<script>
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
  }

  function openitem(evt, item) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(item).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();

  function openNav2() {
      document.getElementById("mySidenav2").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav2() {
      document.getElementById("mySidenav2").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
  }

  function openitem2(evt, item) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(item).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();

  function myFunction1() {
  var input, filter, table, tr, th, th2, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");
  for (i = 2; i < tr.length; i++) {
    th = tr[i].getElementsByTagName("th")[0];
    if (th) {
      if (th.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }     
  }
}

</script>
</body>
</html>