{% extends 'mudek/base.html' %}
{% block content %}
<div id="mySidenav2" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
  {% for i in bolumler %}
  <button class="tablinks buttoncikti buttoncikti1" onclick="openitem2(event, '{{i.bolum_adi}}')">{{i.bolum_adi}}</button>
  {% endfor %}
</div>
<div id="main3"> 
  <span style="font-size:30px;cursor:pointer;" onclick="openNav2()">&#9776; {{fakulte.fakulte_adi}}</span>
</div>
	{% for i in bolumler %}
	<div style="background-color: #212529;" id="{{i.bolum_adi}}" class="tabcontent">
		<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
		<h3 style="color:white">{{i.bolum_adi}}</h3>
		<div class="tab">
		{% for j in ciktilar %}
			{% if j.bolum.bolum_adi == i.bolum_adi %}
			<button class="tablinks" onclick="openitem2(event, '{{j.pk}}-{{j.bolum.bolum_adi}}')">{{j.cikti_no}}</button>
			{% endif %}
		{% endfor %}
		{% if user.is_superuser %}
		<button class="tablinks" style="float:right" onclick="window.location.href='{% url 'mudek:cikti_ekle' i.id %}'">Çıktı Ekle</button>
		{% endif %}
		</div>
	</div>
	{% endfor %}
	{% for j in ciktilar %}
		<div id="{{j.pk}}-{{j.bolum.bolum_adi}}" class="tabcontent">
			<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
	  		<p>{{j.cikti_tani}}</p>
	  		<div>
			<button onclick="window.location.href='{% url 'mudek:cikti_sil' j.bolum.id j.id %}'" type="submit" class="button_sinav"><span>Çıktıyı Kaldır</span></button>
		</div>			
		</div>
		
		
	{% endfor %}

{% endblock %}