{% extends 'mudek/base.html' %}
{% block content %}
{% if user.is_superuser %}
<div>
	<h2 align="center">{{bolum.bolum_adi}}</h2>
</div>
<hr>
<form method="POST">
	{% csrf_token %}
	<div style="width:35%;padding: 10px;">
		<label for="id_cikti_no">Çıktı Numarası: </label><input id="id_cikti_no" type="number" name="cikti_no" required="" style="width:10%;">
		{% for error in form.cikti_no.errors %}
    	<label for="id_cikti_no">{{ error|escape }}</label>
		{% endfor %}
	</div>
	<div style="width:50%;padding: 10px;">
		<label for="id_cikti_tani">Çıktı Tanımı: </label><input id="id_cikti_tani" type="text" name="cikti_tani" required="" style="width:50%;margin-left: 4%">
	</div>
	<div style="width:50%;padding: 10px;">
		<label for="id_cikti_tarih">Çıktı Tarihi: </label><input id="id_cikti_tarih" type="date" name="cikti_tarih" required="" style="width:19%;margin-left: 5%">
	</div>
	<hr>

	<button type="reset" class="button_sinav" style="background-color: #008080;color:black;font-weight: bold;"><span>Sıfırla</span></button>
	<button type="submit" class="button_sinav"><span>Çıktı Ekle</span></button>
	
</form>
{% endif %}
{% endblock %}