{% extends 'mudek/base.html' %}
{% block content %}
{% if user.is_authenticated and not user.is_superuser %}
<div>
	<h2 align="center">{{akademisyen.aka_bilgi}}</h2>
</div>

<div style="width:90%;margin:auto;">
<table id="table">
  <thead class="thead-dark">
    <tr>
      <th align="center">Ders Kodu</th>
      <th align="center">Ders Adı</th>
      <th align="center">Dönem</th>
      <th align="center">Eğitim Yılı</th>
      <th align="center">Bölüm</th>
    </tr>
  </thead>
  <tbody>
    <thead class="thead-light">
    
    {% for i in dersler %}
	<tr>
      <th align="center"><a href="{% url 'mudek:sinavlar' i.bolum.id akademisyen.id i.id %}">{{i.ders_kodu}}</a></th>
      <th align="center"><a href="{% url 'mudek:sinavlar' i.bolum.id akademisyen.id i.id %}">{{i.ders_adi}}</a></th>
      <th align="center">{{i.egit_donem}}</th>
      <th align="center">{{i.egit_yil}}</th>
      <th align="center">{{i.bolum}}</th>
    </tr>
    {% empty %}
    <th colspan="5">Ders eklenmemiş</th>
	{% endfor %}
    </thead>
  </tbody>
</table>
{% endif %}
{% if user.is_superuser %}
	<a href="{% url 'mudek:ders_ekle' bolum.id akademisyen.id %}">Ders Ekle</a>
{% endif %}
</div>
{% endblock %}