{% extends 'mudek/base.html' %}
{% block content %}
{% if user.is_superuser %}
<div style="width:90%;margin:auto;">
	    <table id="table">
	      <thead class="thead-dark">
	        <tr>
	        	<th colspan="3">
	        		Ara:<input type="text" id="myInput" onkeyup="myFunction1()" title="Type in a name">
	        	</th>
	        </tr>
	        <tr>
	          <th align="center">Fakülteler</th>
	          <th>
	          	<button type="submit" class="button_sinav2" onclick="window.location.href='{% url 'mudek:fakulte_ekle' user.id %}'"><span>Fakülte Ekle</span></button>
	          </th>
	        </tr>
	      </thead>
	      <tbody>
	        <thead class="thead-light">
	        
	        {% for i in fakulteler %}
			<tr style="height: 40px">
	          <th align="center">{{i.fakulte_adi}}</th>
	          <th>
	          	<button type="submit" class="button_soru" onclick="window.location.href='{% url 'mudek:fakulte_sil' user.id i.id %}'"><span>Fakülteyi Kaldır</span></button>
	          </th>
	          
	        </tr>
	        {% empty %}
	        <th colspan="2">Fakülte Eklenmemiş</th>
			{% endfor %}
	        </thead>
	      </tbody>
	    </table>
	  </div>
{% endif %}
{% endblock %}