{% extends 'mudek/base.html' %}
{% block content %}
	  <div style=" width:25%;float: left; margin-left: 37.5%">
	    <h2 align="center">{{bolum.bolum_adi}}</h2>
	  </div>
	  <div style="float: right">
	  <a class="soru-geri" href="{% url 'mudek:sinavlar' bolum.id akademisyen.id ders.id %}"><i class="material-icons">replay</i>Sınavlar</a>
	  </div>
	  <div style="clear: both;"></div>
	  <div style="margin-left: 25px; width:35%;float: left">
	    <h3 align="center">{{ders.ders_adi}} / {{sinav.sinav_tur}} - {{sinav.sinav_tarih}}</h3>
	  </div>
	  <div style="width: 25%;float:right;margin-right: 25px;">
	  	<h3 align="center">{{akademisyen.aka_bilgi}}</h3>
	  </div>
	  <div style="clear: both;"></div>
	  <hr>
	  <div style="width:90%; margin:auto;">
	    <table id="table">
	      <thead class="thead-dark">
	        <tr>
	          <th colspan="3" style="text-align: center;" align="center">Öğrenci</th>
	          <th colspan="{{soru_say}}" style="text-align: center;" align="center">Sorular</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	        <thead class="thead-light">
	        <tr>
	          <th style="text-align: center;">Numara</th>
	          <th style="text-align: center;">Ad</th>
	          <th style="text-align: center;">Soyad</th>

	          {% if sorular %}
	            {% for i in sorular|dictsort:'soru_no' %}
	              <th style="text-align: center;">{{ i.soru_no }}</th>
	            {% endfor %}
	          {% else %}
	            <th style="text-align: center;">Henüz soru eklenmemiş</th>
	          {% endif %}
	          <th style="text-align: center;">Toplam Not</th>
	        </tr>
	        </thead>
	        {% for i in ogrenciler %}
	        <tr>
	          <td class="tdclass">{{i.ogr_no}}</td>
	          <td class="tdclass">{{i.ogr_ad}}</td>
	          <td class="tdclass">{{i.ogr_soyad}}</td>

	         {% for j in sorular|dictsort:'soru_no' %}
	         	{% if i not in ogrenciler2 %}
	         		<td class="tdclass">--</td>
	         	{% else %}
		         	{% for k in notlar|dictsort:'ogrenci.ogr_no' %}
		         		{% if k.ogrenci == i %}
		         			{% if k.soru == j %}
		         				<td class="tdclass">{{k.al_not}}</td>
		         			{% elif k.soru != j %}
		         				<td class="tdclass">--</td>
		         			{% endif %}
		         		{% endif %}
		         	{% endfor %}
	         	
	         	{% endif %}
	         {% empty %}
	         	<td class="tdclass">--</td>
	         {% endfor %}


		    {% for j in toplam %}
		    	{% if j.0 == i %}	      	          
	          	<td class="tdclass">{{j.1}}</td>
	          	{% endif %}
	        {% endfor %}
	        </tr>
	        {% endfor %}

	      </tbody>
	    </table>
	  </div>
{% endblock %}