{% extends 'mudek/base.html' %}
{% block content %}
{% if user.is_superuser %}
<form method="POST">
{% csrf_token %}
<div style="width:50%;margin:auto;">
		{{form.bolum}}
</div>
<div style="width: 50%;margin:auto;">
	{{form.ogr_no}}
</div>
<div style="width: 50%;margin:auto;">
	{{form.ogr_ad}}
</div>
<div style="width: 50%;margin:auto;">
	{{form.ogr_soyad}}
</div>
<div style="width: 50%;margin-left:42%">
<button type="submit" class="button_sinav"><span>Öğrenci Ekle</span></button>
</div>
</form>

{% endif %}

{% endblock %}